@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    font-family: 'Fredoka One', cursive;
}

/*******************/
/*     Basics     */
/*****************/

header {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.logo {
    color: #1f1f1f;
    font-size: 35px;
}

.goback-btn {
    left: 0;
    margin: 10px;
    color: #1f1f1f;
    position: absolute;
    text-decoration: none !important;
}

.goback-btn::before {
    content: "« ";
}

.goback-btn:hover {
    transform: translateX(20%);
    transition: transform 0.3s ease;
}

/*******************/
/* Phase Content  */
/*****************/

.content-container {
    width: 100%;
    margin-top: 5%;
    font-size: 17px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.lore {
    display: flex;
    width: 50%;
    padding: 25px;
    border-radius: 15px;
    background-color: #1f1f1f;
}

.character-image {
    width: 150px;
    height: 150px;
    align-self: baseline;
    justify-self: flex-start;
}


.character-dialog {
    margin-left: 15px;
}

.character-dialog p {
    color: white;
    letter-spacing: 1px;
    text-align: justify;
}


.option-container {
    width: 50%;
    margin-top: 10px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.option {
    width: 100%;
    height: 25%;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;

    color: white;
    background-color: #1f1f1f;
}

.answer-btn {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;

    color: white;
    background-color: #1f1f1f;
}